*{
    padding: 0;
    margin: 0;
    overflow: auto;
}


.head{
    display: flex;
    flex-direction: column;
    justify-content: center;

    color: black;
    z-index: 200;
    margin-right: 250px;
    margin-left: 50px;
}

.icon{
    position:absolute;
    bottom: 10px;
    left: 10px;
}

.github{
    height: 50px;
    opacity: 0.8;
    border-radius: 10px;
}

a{
    height: 10px;
}

.text{


    position: relative;
    margin-bottom: 400px;
}

.javascript{
    color: rgb(221, 75, 53) ;
    font-size: 90px;
    font-weight: 700;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}
span{
    font-size: 150px;
}

.html{
    font-size: 25px;
    position: absolute;
    font-weight: bold;
    padding-left: 10px;
    top: 90px;
    left: 38px;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}

.circle{
    position: absolute;
    background-color: white;
    height: 270px;
    width: 270px;
    border-radius: 135px;
    top: 0px;
    left: -35px;
    z-index: -2;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

.calc{
    position: absolute;
    font-size: 25px;
    right: 80px;
    bottom: 10px;
    font-weight: 500;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}

.frame{
    display: flex;
    margin-top: 50px;
    margin-bottom: 60px;
    margin-right: 50px;
    flex-direction: column;
    height: auto;
    min-width:350px ;
    width: 400px;
    border-radius: 20px;
    overflow: hidden;
    z-index: 100;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);

}
body{

    background: linear-gradient(360deg,#fc4a1a,#f7b733);

}
.body{
    font-family: Oswald;
    display: flex;
    justify-content: space-around;
    overflow: hidden;

}
.Display{
    display: flex;
    flex-direction: column;
    padding-right: 5px;
    padding-left: 5px;
    background-color: rgb(221, 75, 53);
}

.current-operand {
    display: inline;
    padding-right: 15px;
    color: white;
    text-align: right;
    height: 120px;
    border: none;
    background-color: rgb(221, 75, 53);
    font-size: 75px;
}

.previous-operand{
    color: white;
    background-color: rgb(221, 75, 53);
    text-align: right;
    padding: 5px 8px;
    height: 40px;
    font-size: 20px;
}

.PADS{
    flex: 1;
    padding: 5px;
    display: flex;
    background-color:rgba(255, 255, 255, 0.403);
    flex-direction: column;
    justify-content: space-around;
}
.row1{
    height: 75px;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.a{
    /* margin-left: 4px; */
    font-family: Oswald;
    color:rgb(49, 47, 47);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    font-weight:500 ;
    font-size: 30px;
    border: none;
    transition: transform 0.2s;
    cursor: pointer;
}
.a:hover{
    transform: scale(1.11);
}
#equalto{
    background-color: rgb(221, 75, 53);
    color: white;
    width: 150px;
    font-size: 700;
}
#clear{
    background-color: rgb(221, 75, 53);
    color: white;
    width: 150px;
}


.custom-shape-divider-top-1670000414 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1670000414 svg {
    position: relative;
    display: block;
    width: calc(171% + 1.3px);
    height: 500px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1670000414 .shape-fill {
    fill: #F4F4F4;
}

